
<div class="row">
    <div class="col-sm-3">
        <div class="">
            <span class="card-title activator grey-text text-darken-4">Tags Names <i class="material-icons">stop</i></span>
            <div class="divider"></div>
            <ul id="" class="">
                <li>
                    <span (click)='getTaggedFeeds()'>Show all Feeds</span>
                </li>
                <li *ngFor="let tag of tags">
                    <span (click)='getTaggedFeeds(tag)'>{{tag}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <feed-body [feeds]="feeds"></feed-body>
    </div>
</div>
