
<div class="row">
    <div class="col-sm-3">
        <div class="">
            <span class="card-title activator grey-text text-darken-4">Tags Names</span>
            <div class="divider"></div>
            <ul id="" class="">
                <li>
                    <span (click)='getFlagsForTag()'>Show all Flags</span>
                </li>
                <li *ngFor="let tag of tags">
                    <span (click)='getFlagsForTag(tag)'>{{tag}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <flag-list [flagList]='flags' [tagName]='selectedTagName'></flag-list>
    </div>
</div>
