<div class="row">
        <div class="col s12 m12 l12" style="background-image: url('http://www.clipartsgram.com/image/1213925967-health-and-fitness-wallpaper-health-and-fitness-desktop-background-pictures-new-best-hd-wallpapers-of-fitness.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;height:350px">
            
        </div>
        <div class="col s12 m12 l7 offset-l2" style="margin-top:-200px">
            
            <feed-container [feed] = "feed"  *ngFor="let feed of this.feeds"></feed-container>
            
             
            <!--<div class="card" style="padding-top: 0px;border-radius: 12px;" *ngFor="let feed of this.feeds">
                    <h2>{{feed.Title}}</h2>
                    <h2>I Like potato!</h2>
            </div>    -->
        </div>
</div>